body {
	height: 100%;
	width: 100%;
}

html {
	scroll-behavior: smooth;
}

.App {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

h1 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top-content {
	background: #222222;
}

.about-content {
	position: relative;
	background: #1f1f1f;
}

.project-content {
	position: relative;
	display: flex;
	justify-content: center;
	background-color: #1c1c1c;
	padding-bottom: 50px;
}

.contact-content {
	background-color: #0f0f0f;
}
