body {
	height: 100%;
	width: 100%;
}

.App {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.top-content {
	background: #1c1c1c;
	height: clamp(40vh, 40vw, 100rem);
}

.about-content {
	height: 100vh;
}

.project-content {
	display: flex;
	justify-content: center;
	background-color: #1c1c1c;
	padding-bottom: 50px;
}

.contact-content {
	background-color: #0f0f0f;
}
